/*Estilo Boton Primario Cotiza*/
.btn-primario {
  background: #00918f;
  border-radius: 100px;
  height: 40px;
  width: 11.5rem;
  font-size: 0.95rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all 0.1s;
}
/*Estilo Icono Boton*/
.icono-btn {
  margin-right: 11px;
  width: 1.5rem;
}
/*Letra blanca en menu inverso*/
.blanco {
  color: #fff;
  background-color: #00918f;
  transition: all 0.1s;
}
#cotizar {
  margin-left: 1.5rem;
}
